* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: rgb(62, 61, 61);
}
.gameBoard {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    width: 450px;
    height: 450px;
    margin: 100px auto;
    
}
.field {
    width: 150px;
    height: 150px;
    background-color: rgb(17, 11, 11);
}
.x {
    background-image: url(images/X_150x150.png) ;
    width: 150px;
    height: 150px;
    background-color: rgb(17, 11, 11);
}
.o {
    background-image: url(images/circle_150x150.png);
    width: 150px;
    height: 150px;
    background-color: rgb(17, 11, 11);
}